In [7]:
import pandas as pd
import numpy as np

In [35]:
df_valid = pd.read_csv("../data/results/result_valid_30_01_22.csv").drop(['Unnamed: 0'], axis=1)
df_unvalid = pd.read_csv("../data/results/result_unvalid_30_01_22.csv").drop(['Unnamed: 0'], axis=1)

In [4]:
print(df_valid.columns)
df_valid.head()

Index(['Unnamed: 0', 'task_form', 'succes_human', 'succes_mnli_00',
       'succes_mnli_03', 'succes_mnli_05', 'succes_mnli_10', 'succes_mnli_20',
       'succes_mnli_30', 'succes_mnli_40', 'succes_mnli_50', 'succes_mnli_60',
       'succes_mnli_70', 'succes_mnli_80', 'succes_mnli_90',
       'succes_simple_0.9999965', 'succes_simple_0.9999968',
       'succes_simple_0.9999972', 'succes_simple_0.9999974',
       'succes_simple_0.999996', 'succes_simple_0.999997'],
      dtype='object')

,Unnamed: 0,task_form,succes_human,succes_mnli_00,succes_mnli_03,succes_mnli_05,succes_mnli_10,succes_mnli_20,succes_mnli_30,succes_mnli_40,...,succes_mnli_60,succes_mnli_70,succes_mnli_80,succes_mnli_90,succes_simple_0.9999965,succes_simple_0.9999968,succes_simple_0.9999972,succes_simple_0.9999974,succes_simple_0.999996,succes_simple_0.999997
0,4,AE1,0.892157,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.990196,0.970588,0.068627,0.068627,0.049020,0.000000,0.068627,0.068627
1,17,EA2,0.885714,0.980952,0.980952,0.980952,0.923810,0.723810,0.542857,0.428571,...,0.238095,0.142857,0.095238,0.085714,0.009524,0.009524,0.009524,0.000000,0.009524,0.009524
2,18,EA3,0.848485,0.939394,0.929293,0.919192,0.737374,0.454545,0.252525,0.202020,...,0.111111,0.080808,0.030303,0.020202,0.020202,0.020202,0.020202,0.000000,0.030303,0.020202
3,6,AE3,0.808081,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.989899,...,0.969697,0.949495,0.888889,0.696970,0.040404,0.040404,0.040404,0.020202,0.040404,0.040404
4,9,AI2,0.805825,0.378641,0.378641,0.378641,0.378641,0.339806,0.271845,0.203883,...,0.077670,0.038835,0.019417,0.009709,0.737864,0.699029,0.320388,0.019417,0.737864,0.601942

In [5]:
print(df_unvalid.columns)
df_unvalid.head()

Index(['Unnamed: 0', 'task_form', 'succes_human', 'succes_mnli_00',
       'succes_mnli_03', 'succes_mnli_05', 'succes_mnli_10', 'succes_mnli_20',
       'succes_mnli_30', 'succes_mnli_40', 'succes_mnli_50', 'succes_mnli_60',
       'succes_mnli_70', 'succes_mnli_80', 'succes_mnli_90',
       'succes_simple_0.9999965', 'succes_simple_0.9999968',
       'succes_simple_0.9999972', 'succes_simple_0.9999974',
       'succes_simple_0.999996', 'succes_simple_0.999997'],
      dtype='object')

,Unnamed: 0,task_form,succes_human,succes_mnli_00,succes_mnli_03,succes_mnli_05,succes_mnli_10,succes_mnli_20,succes_mnli_30,succes_mnli_40,...,succes_mnli_60,succes_mnli_70,succes_mnli_80,succes_mnli_90,succes_simple_0.9999965,succes_simple_0.9999968,succes_simple_0.9999972,succes_simple_0.9999974,succes_simple_0.999996,succes_simple_0.999997
0,22,EE3,0.653061,0.0,0.000000,0.000000,0.000000,0.000000,0.051020,0.091837,...,0.367347,0.459184,0.602041,0.816327,0.020408,0.112245,0.489796,0.948980,0.0,0.224490
1,62,OO3,0.613861,0.0,0.000000,0.000000,0.000000,0.009901,0.029703,0.039604,...,0.227723,0.326733,0.485149,0.653465,0.000000,0.019802,0.356436,0.851485,0.0,0.059406
2,23,EE4,0.613208,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.018868,0.075472,0.179245,0.000000,0.075472,0.377358,0.915094,0.0,0.113208
3,63,OO4,0.606061,0.0,0.000000,0.000000,0.030303,0.242424,0.444444,0.616162,...,0.797980,0.848485,0.929293,0.969697,0.000000,0.010101,0.262626,0.787879,0.0,0.020202
4,42,II3,0.532110,0.0,0.009174,0.018349,0.165138,0.440367,0.633028,0.733945,...,0.862385,0.899083,0.917431,0.990826,0.000000,0.018349,0.348624,0.880734,0.0,0.036697

In [25]:
conditions = [df_valid['task_form'] == "AE1",
    (str(df_valid['task_form'])[0] in ["O","I"]) & (str(df_valid['task_form'])[1] in ["O","I"])]
choices = [type(df_valid['task_form']), 'relative']

df_valid['type'] = np.select(conditions, choices,"mixe")

In [36]:
def type_syl(task_form):
    if task_form[0] in ["A", "E"] and task_form[1] in ["A", "E"]:
        return "universal"
    elif task_form[0] in ["O", "I"] and task_form[1] in ["O", "I"]:
        return "relative"
    else:
        return "mixe"

df_valid['type'] = df_valid.task_form.apply(lambda x: type_syl(x))
df_unvalid['type'] = df_unvalid.task_form.apply(lambda x: type_syl(x))

df_valid = df_valid.drop(['task_form'], axis=1)
df_unvalid = df_unvalid.drop(['task_form'], axis=1)

In [41]:
df_valid.groupby('type').mean().to_csv("../data/results/valid_mean_04_03_22.csv")
df_valid.groupby('type').mean()

,succes_human,succes_mnli_00,succes_mnli_03,succes_mnli_05,succes_mnli_10,succes_mnli_20,succes_mnli_30,succes_mnli_40,succes_mnli_50,succes_mnli_60,succes_mnli_70,succes_mnli_80,succes_mnli_90,succes_simple_0.9999965,succes_simple_0.9999968,succes_simple_0.9999972,succes_simple_0.9999974,succes_simple_0.999996,succes_simple_0.999997
type,,,,,,,,,,,,,,,,,,,
mixe,0.413995,0.461635,0.461635,0.458648,0.445657,0.419390,0.389131,0.360318,0.324913,0.285287,0.227125,0.162495,0.090434,0.243035,0.234429,0.133631,0.016768,0.243035,0.212165
universal,0.518555,0.482728,0.466553,0.456761,0.415188,0.348082,0.299845,0.276953,0.257400,0.237166,0.220331,0.199765,0.169092,0.144519,0.125897,0.069642,0.006251,0.147185,0.105317

In [42]:
df_unvalid.groupby('type').mean().to_csv("../data/results/unvalid_mean_04_03_22.csv")
df_unvalid.groupby('type').mean()

,succes_human,succes_mnli_00,succes_mnli_03,succes_mnli_05,succes_mnli_10,succes_mnli_20,succes_mnli_30,succes_mnli_40,succes_mnli_50,succes_mnli_60,succes_mnli_70,succes_mnli_80,succes_mnli_90,succes_simple_0.9999965,succes_simple_0.9999968,succes_simple_0.9999972,succes_simple_0.9999974,succes_simple_0.999996,succes_simple_0.999997
type,,,,,,,,,,,,,,,,,,,
mixe,0.253798,0.0,0.001089,0.002179,0.018819,0.081039,0.139330,0.187063,0.255556,0.323272,0.410761,0.513639,0.665701,0.000519,0.030067,0.367263,0.889245,0.0,0.092182
relative,0.317361,0.0,0.001211,0.011253,0.050890,0.153157,0.256701,0.366325,0.475126,0.581914,0.676193,0.781639,0.877962,0.000000,0.015228,0.328824,0.848901,0.0,0.050246
universal,0.502626,0.0,0.022222,0.038384,0.062626,0.111111,0.141032,0.184472,0.241906,0.330681,0.403294,0.504894,0.653052,0.015911,0.102467,0.445500,0.931994,0.0,0.192982